[bumpversion]
current_version = 3.0.0
commit = True
tag = True
tag_name = {new_version}
message = "Bump version: {current_version} → {new_version}"

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"


[bumpversion:file:README.md]
search = ("{current_version}")
replace = ("{new_version}")
